.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  flex: 1 0 21%;
  background: var(--color-white);
  border: 1px solid var(--color-secondary-light);
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.card-info {
  margin-top: auto;
  min-height: 50px;
}

.card-title {
  font-size: var(--font-size-medium);
}

.sidebar {
  flex: 1 0 21%;
  display: flex;
  flex-direction: column;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  padding: 16px;
  box-shadow: var(--box-shadow-card);
}

.sidebar-title {
  font-size: var(--font-size-medium);
}

.detail-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.detail-page-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.episodes-counter {
  font-size: 30px;
  font-weight: var(--font-weight-bold);
  padding: 20px;
  box-shadow: var(--box-shadow-card);
}

.episodes-table {
  padding: 20px;
  box-shadow: var(--box-shadow-card);
}

.table {
  border-collapse: collapse;
}

.table th {
  font-weight: var(--font-weight-bold);
  border-bottom: 2px solid var(--color-primary-light);
  padding: 10px;
  text-align: left;
}

.table td {
  border-bottom: 1px solid var(--color-primary-light);
  padding: 10px;
}

.table .even-row {
  background-color: rgba(211, 211, 211, 0.3);
}

.table .odd-row {
  background-color: var(--color-white);
}
